body {
    margin: 0;
}

#main-area {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#frame-list {
    min-width: 12ch;
    background-color: hsl(143, 100%, 68%);
    display: block;
    overflow-y: auto;

    h2 {
        position: sticky;
        top: 0;
        background-color: white;
        margin: 0;
    }

    .body {
        .sprite {
            padding-left: 4px;
            background-color: color-mix(
                in oklab,
                hsl(143, 93%, 58%),
                var(--sprite-color) 25%
            );
        }

        .frame {
            padding-left: 8px;

            &:hover {
                background-color: #80808040;
            }
        }
    }
}

#slice-editor-area {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex-grow: 1;
}

#slice-viewer {
    position: relative;
    min-height: 0;
    flex-grow: 1;
}

#properties-editor {
    min-height: 16em;
    background-color: hsl(143, 58%, 52%);
    display: flex;

    h2 {
        position: sticky;
        top: 0;
        background-color: white;
        margin: 0;
    }

    canvas {
        object-fit: contain;
        object-position: right;
    }

    input[type="number"] {
        width: 6ch;
    }
}

.spacer {
    flex-grow: 1;
}
